<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2018 Book Log</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans|Josefin+Sans" rel="stylesheet">
</head>
<body>

	<main>
  
  <%= yield %>

	</main>
  <footer>
  	<a href="https://www.linkedin.com/in/megan-mckeough/" target="_blank">Made by Megan McKeough</a>
  </footer>

</body>
</html>